<div class="w-1/4 mx-auto">
  <input
    class="shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline focus:animate-pulse"
    type="text"
    [(ngModel)]="searchText"
    placeholder="Search..."
    autofocus
  />
  <button
    class="bg-lime-600 text-white active:bg-pink-600 font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all mt-2.5 duration-150"
    (click)="deleteSelectedPosts()"
  >
    Delete Selected
  </button>
</div>
<div
  class="grid grid-cols-4 mx-auto"
  *ngFor="let item of posts | search : searchText"
  [ngClass]="{ 'px-2 animate-pulse': item.selected }"
>
  <div
    class="bg-white w-1/4 shadow-md rounded px-8 mx-auto text-center pt-6 pb-8 mb-4 mt-2 gap-2"
  >
    <h2 class="font-bold text-xl mb-2">
      {{ item.title }}
    </h2>
    <p class="text-center text-base mt-5 mb-5">{{ item.body }}</p>
    <input
      class="w-4 h-4 mx-1 accent-red-600 rounded"
      type="checkbox"
      (change)="onSelect(item)"
    />
    <button
      class="bg-blue-500 active:bg-pink-600 font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
      (click)="onDelete(this.item.id)"
    >
      Delete
    </button>
  </div>
</div>
